.app-file-manager-component {
    height: 100%;
    .app-component-split {
        width: 100%;
        height: 100%;
        .app-component-split-left {
            flex: 0 0 20%;
        }
        .app-component-split-right {
            padding-left: 20px;
        }
        .app-component-split-handler {
            flex: 0 0 7px;
            width: 7px;
            background: #f1f1f1;
        }

        [data-object-name="folders-pane"] {
            &.app-component-shown {
                display: grid;
            }
            grid-template-rows: 40px calc(100% - 40px);
        }
        [data-object-name="files-pane"] {
            &.app-component-shown {
                display: grid;
            }
            grid-template-rows: 40px 50px calc(100% - 140px) 50px;
        }
        [data-object-name="buttons-pane"] {
            .app-component-button {
                margin-right: 10px;
                padding: 0px 20px;
                margin-top: 10px;
                height: 30px;
            }
        }

    }

    &.-readonly { 
        [data-object-name="files-pane"] {
            grid-template-rows: 40px 50px calc(100% - 90px);
        }
    }
}