.app-tools-settings-manager-page-component {
    height: 100%;
    [data-object-name="split"] {
        width: 100%;
        height: 100%;
        [data-object-name="settings-pane"] {
            &.app-component-shown {
                display: grid;
            }
            grid-template-rows: 40px calc(100% - 40px);
        }
        [data-object-name="data-pane"] {
            &.app-component-shown {
                display: grid;
            }
            grid-template-rows: 40px calc(100% - 90px) 50px;
        }
        [data-object-name="buttons-pane"] {
            .app-component-button {
                margin-right: 10px;
                padding: 0px 20px;
                margin-top: 10px;
                height: 30px;
            }
        }
        .app-component-split-left {
            flex: 0 0 20%;
        }
        .app-component-split-right {
            padding-left: 20px;
        }
        .app-component-split-handler {
            flex: 0 0 7px;
            width: 7px;
            background: #f1f1f1;
        }
        .app-ui-tree-component {
            padding-top: 10px;
        }

        [data-object-name="editor"] {
            display: grid;
            grid-template-rows: 80px calc(100% - 80px);
            height: 100%;
        }
    }
    
}