.app-execute-page-component {

    &.app-component-shown {
        display: grid;
    }
    grid-template-rows: 120px calc(100% - 120px);

    [data-object-name="running"] {
        margin-left: 20px;
        position: static;
        width: auto;
        height: auto;
        background: transparent;
        svg {
            animation: 2s linear 0s infinite normal rotateInfiniteAnimation;
            path {
                stroke: rgba(0,0,0,.5);
            }
        }
    }

    [data-object-name="info"] {
        &.app-component-shown {
            display: block;
        }
        font-size: 12px;
        padding: 20px 0px 10px;
        
    } 

    [data-object-name="flex"] {
        button {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    [data-object-name="split"] {
        width: 100%;
        height: 100%;
        .app-component-split-left {
            flex: 0 0 50%;
        }
        .app-component-split-right {
            padding-left: 20px;
        }
        [data-object-name="form"] {
            height: 100%;

        }
    }

    [data-object-name="script"] {
        height: 100%;
        
    }

    [data-object-name="kill"] {
        margin-left: 20px;
    }

}